.logo1 {
  justify-self: right;
  grid-area: l1;
  border-radius: 50%;
  width: $sizesLogo*2;
  height: $sizesLogo*2;
}

.titulo {
  grid-area: t;
  font-size: 80px;
  font-style: italic;
  color: rgb(255, 0, 242);
  background-color: white;
  border-style: solid;
}

.logo2 {
  justify-self: left;
  grid-area: l2;
  border-radius: 50%;
  width: $sizesLogo*2;
  height: $sizesLogo*2;
}
